<form class="navbar-form">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search" name='name'[(ngModel)]="find">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit" (click) = "findPeople()">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</form>
<ul [hidden]="doctors.length == 0">
    <li *ngFor="let doctor of doctors">
        <a [routerLink]="['/user', doctor._id]">
          <div class="container">
            <div class="row">
              <div class="list-group">
                      <div class="list-group-item clearfix">
                          <div class="profile-teaser-left">
                              <div class="profile-img"><img src="https://static.pexels.com/photos/21011/pexels-photo-large.jpg"/></div>
                          </div>
                          <div class="profile-teaser-main">
                              <h2 class="profile-name">{{doctor.name}} {{doctor.surname}}</h2>
                              <div class="profile-info">
                                  <div class="info"><span class="">Phone number:</span> {{doctor.phone}} </div>
                                  <div class="info"><span class="">E-mail:</span> {{doctor.email}} </div>
                              </div>
                          </div>
                      </div><!-- item -->
                  </div>
            </div>
          </div>
        </a>
    </li>
  </ul>

  <h2 [hidden]="doctors.length > 0">Users not found</h2>
  
  