<div class="container">
    <form class="form-horizontal" role="form">
        <h2>Registration</h2>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First Name*</label>
            <div class="col-sm-9">
                <input type="text" id="firstName" name='name' placeholder="Enter your name: " [(ngModel)]="user.name" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Last Name*</label>
            <div class="col-sm-9">
                <input type="text" id="lastName" name="surname" placeholder="Enter your surname: " [(ngModel)]="user.surname" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Login* </label>
            <div class="col-sm-9">
                <input   id="email" type="text" name='login' placeholder="Enter your login: " [(ngModel)]="user.login" class="form-control" name= "email">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password*</label>
            <div class="col-sm-9">
                <input type="password" id="password" type="password" name="password" placeholder="Enter your password: "[(ngModel)]="user.password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Doctor*</label>
            <div class="col-sm-9">
                <input   id="password" type="text" name='doctor' placeholder="You doctor? yes/no: " [(ngModel)]="user.doctor" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="birthDate" class="col-sm-3 control-label">Id_department*</label>
            <div class="col-sm-9">
                <input  type="text" name='id_department' placeholder="Enter your id_department: " [(ngModel)]="user.id_department" id="birthDate" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="phoneNumber" class="col-sm-3 control-label">Phone number </label>
            <div class="col-sm-9">
                <input  id="phoneNumber" type="text" name='phone' placeholder="Enter your phone: " [(ngModel)]="user.phone" class="form-control">
                <span class="help-block">Your phone number won't be disclosed anywhere </span>
            </div>
        </div>
        <div class="form-group">
                <label for="Height" class="col-sm-3 control-label">E-mail</label>
            <div class="col-sm-9">
                <input  id="height" type="email" name="email" placeholder="Enter your email: "[(ngModel)]="user.email" class="form-control">
            </div>
        </div>
        <div class="form-group">
                <label for="weight" class="col-sm-3 control-label">Experiens</label>
            <div class="col-sm-9">
                <input   id="weight"  type="number" name='experiens' placeholder="Enter your experiens: " [(ngModel)]="user.experiens" class="form-control">
            </div>
        </div>
        <div class="form-group">
                <label for="weight" class="col-sm-3 control-label">Descriptions</label>
            <div class="col-sm-9">
              <input   id="weight"  type="text" name='description' placeholder="Enter your description: " [(ngModel)]="user.description" class="form-control">
           </div>
        </div>
        <div class="form-group">
                <label for="weight" class="col-sm-3 control-label">Floor</label>
            <div class="col-sm-9">
                <input   id="weight"  type="number" name='floor' placeholder="Enter your floor: " [(ngModel)]="user.floor" class="form-control">
            </div>
         </div>
        <div class="form-group">
            <label for="weight" class="col-sm-3 control-label">Office </label>
            <div class="col-sm-9">
                <input   id="weight" type="number" name='office' placeholder="Enter your office: " [(ngModel)]="user.office" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="weight" class="col-sm-3 control-label">Day of Work </label>
            <div class="col-sm-9">
                <input   id="weight"  type="text" name='deyOfwork' placeholder="Enter your deyOfwork: " [(ngModel)]="user.deyOfwork" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <span class="help-block">*Required fields</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" (click) = "register()">Register</button>
    </form> <!-- /form -->
</div> <!-- ./container -->