<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" href="" >Welcome to Hospital!</a>
    </div>
    <form class="navbar-form navbar-right">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name='name'[(ngModel)]="find">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit" (click) = "findPeople()">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
    <ul class="nav navbar-nav">
      <li><a href="">Departments</a></li>
      <li><a href="about">About us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!Authorized"><a href="login">Login</a></li>
        <li *ngIf="Authorized"><a href="logout">Logout</a></li>
        <li><a href="register">Register</a></li>
      </ul>
  </div>
</nav>